@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i|Roboto:300,400,400i");
/* COLOR PALETTES */
/* FONTS */
/* line 1, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
body {
  background-color: #131313;
  color: #ccc;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #131313;
}

/* line 15, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  margin: 10px 0;
}

/* line 21, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
a {
  color: inherit;
  /* no blue */
  text-decoration: inherit;
  /* no underline */
  cursor: pointer;
}

/* line 26, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 32, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
div {
  /*border: 1px solid black;*/
}

/* line 1, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.heightAuto {
  height: auto;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height100 {
  height: 100px;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height200 {
  height: 200px;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height300 {
  height: 300px;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height400 {
  height: 400px;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height500 {
  height: 500px;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width10 {
  width: 10%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width20 {
  width: 20%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width30 {
  width: 30%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width40 {
  width: 40%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width50 {
  width: 50%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width60 {
  width: 60%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width70 {
  width: 70%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width80 {
  width: 80%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width90 {
  width: 90%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width100 {
  width: 100%;
}

/* line 1, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-banner {
  background-image: url(../../images/bg/blue-mermaid.png);
  background-position: center;
  background-size: cover;
}

/* line 7, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgejemplo {
  background-image: url(../../images/bg/poisoned.png);
  background-position: center;
  background-size: cover;
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt1 {
  background-image: url(../../images/art/preview/gallery_001.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt2 {
  background-image: url(../../images/art/preview/gallery_002.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt3 {
  background-image: url(../../images/art/preview/gallery_003.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt4 {
  background-image: url(../../images/art/preview/gallery_004.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt5 {
  background-image: url(../../images/art/preview/gallery_005.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt6 {
  background-image: url(../../images/art/preview/gallery_006.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt7 {
  background-image: url(../../images/art/preview/gallery_007.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt8 {
  background-image: url(../../images/art/preview/gallery_008.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt9 {
  background-image: url(../../images/art/preview/gallery_009.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt10 {
  background-image: url(../../images/art/preview/gallery_010.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt11 {
  background-image: url(../../images/art/preview/gallery_011.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt12 {
  background-image: url(../../images/art/preview/gallery_012.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt13 {
  background-image: url(../../images/art/preview/gallery_013.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt14 {
  background-image: url(../../images/art/preview/gallery_014.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt15 {
  background-image: url(../../images/art/preview/gallery_015.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt16 {
  background-image: url(../../images/art/preview/gallery_016.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt17 {
  background-image: url(../../images/art/preview/gallery_017.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt18 {
  background-image: url(../../images/art/preview/gallery_018.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt19 {
  background-image: url(../../images/art/preview/gallery_019.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt20 {
  background-image: url(../../images/art/preview/gallery_020.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt21 {
  background-image: url(../../images/art/preview/gallery_021.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt22 {
  background-image: url(../../images/art/preview/gallery_022.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt23 {
  background-image: url(../../images/art/preview/gallery_023.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt24 {
  background-image: url(../../images/art/preview/gallery_024.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt25 {
  background-image: url(../../images/art/preview/gallery_025.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt26 {
  background-image: url(../../images/art/preview/gallery_026.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt27 {
  background-image: url(../../images/art/preview/gallery_027.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt28 {
  background-image: url(../../images/art/preview/gallery_028.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt29 {
  background-image: url(../../images/art/preview/gallery_029.png);
}

/* line 16, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgArt30 {
  background-image: url(../../images/art/preview/gallery_030.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign1 {
  background-image: url(../../images/design/preview/gallery_001.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign2 {
  background-image: url(../../images/design/preview/gallery_002.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign3 {
  background-image: url(../../images/design/preview/gallery_003.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign4 {
  background-image: url(../../images/design/preview/gallery_004.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign5 {
  background-image: url(../../images/design/preview/gallery_005.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign6 {
  background-image: url(../../images/design/preview/gallery_006.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign7 {
  background-image: url(../../images/design/preview/gallery_007.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign8 {
  background-image: url(../../images/design/preview/gallery_008.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign9 {
  background-image: url(../../images/design/preview/gallery_009.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign10 {
  background-image: url(../../images/design/preview/gallery_010.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign11 {
  background-image: url(../../images/design/preview/gallery_011.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign12 {
  background-image: url(../../images/design/preview/gallery_012.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign13 {
  background-image: url(../../images/design/preview/gallery_013.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign14 {
  background-image: url(../../images/design/preview/gallery_014.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign15 {
  background-image: url(../../images/design/preview/gallery_015.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign16 {
  background-image: url(../../images/design/preview/gallery_016.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign17 {
  background-image: url(../../images/design/preview/gallery_017.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign18 {
  background-image: url(../../images/design/preview/gallery_018.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign19 {
  background-image: url(../../images/design/preview/gallery_019.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign20 {
  background-image: url(../../images/design/preview/gallery_020.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign21 {
  background-image: url(../../images/design/preview/gallery_021.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign22 {
  background-image: url(../../images/design/preview/gallery_022.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign23 {
  background-image: url(../../images/design/preview/gallery_023.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign24 {
  background-image: url(../../images/design/preview/gallery_024.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign25 {
  background-image: url(../../images/design/preview/gallery_025.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign26 {
  background-image: url(../../images/design/preview/gallery_026.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign27 {
  background-image: url(../../images/design/preview/gallery_027.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign28 {
  background-image: url(../../images/design/preview/gallery_028.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign29 {
  background-image: url(../../images/design/preview/gallery_029.png);
}

/* line 25, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgDesign30 {
  background-image: url(../../images/design/preview/gallery_030.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding1 {
  background-image: url(../../images/coding/preview/gallery_001.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding2 {
  background-image: url(../../images/coding/preview/gallery_002.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding3 {
  background-image: url(../../images/coding/preview/gallery_003.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding4 {
  background-image: url(../../images/coding/preview/gallery_004.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding5 {
  background-image: url(../../images/coding/preview/gallery_005.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding6 {
  background-image: url(../../images/coding/preview/gallery_006.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding7 {
  background-image: url(../../images/coding/preview/gallery_007.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding8 {
  background-image: url(../../images/coding/preview/gallery_008.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding9 {
  background-image: url(../../images/coding/preview/gallery_009.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding10 {
  background-image: url(../../images/coding/preview/gallery_010.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding11 {
  background-image: url(../../images/coding/preview/gallery_011.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding12 {
  background-image: url(../../images/coding/preview/gallery_012.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding13 {
  background-image: url(../../images/coding/preview/gallery_013.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding14 {
  background-image: url(../../images/coding/preview/gallery_014.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding15 {
  background-image: url(../../images/coding/preview/gallery_015.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding16 {
  background-image: url(../../images/coding/preview/gallery_016.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding17 {
  background-image: url(../../images/coding/preview/gallery_017.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding18 {
  background-image: url(../../images/coding/preview/gallery_018.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding19 {
  background-image: url(../../images/coding/preview/gallery_019.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding20 {
  background-image: url(../../images/coding/preview/gallery_020.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding21 {
  background-image: url(../../images/coding/preview/gallery_021.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding22 {
  background-image: url(../../images/coding/preview/gallery_022.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding23 {
  background-image: url(../../images/coding/preview/gallery_023.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding24 {
  background-image: url(../../images/coding/preview/gallery_024.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding25 {
  background-image: url(../../images/coding/preview/gallery_025.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding26 {
  background-image: url(../../images/coding/preview/gallery_026.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding27 {
  background-image: url(../../images/coding/preview/gallery_027.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding28 {
  background-image: url(../../images/coding/preview/gallery_028.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding29 {
  background-image: url(../../images/coding/preview/gallery_029.png);
}

/* line 34, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgCoding30 {
  background-image: url(../../images/coding/preview/gallery_030.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view1 {
  content: url(../../images/art/gallery/gallery_001.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view2 {
  content: url(../../images/art/gallery/gallery_002.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view3 {
  content: url(../../images/art/gallery/gallery_003.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view4 {
  content: url(../../images/art/gallery/gallery_004.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view5 {
  content: url(../../images/art/gallery/gallery_005.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view6 {
  content: url(../../images/art/gallery/gallery_006.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view7 {
  content: url(../../images/art/gallery/gallery_007.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view8 {
  content: url(../../images/art/gallery/gallery_008.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view9 {
  content: url(../../images/art/gallery/gallery_009.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view10 {
  content: url(../../images/art/gallery/gallery_010.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view11 {
  content: url(../../images/art/gallery/gallery_011.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view12 {
  content: url(../../images/art/gallery/gallery_012.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view13 {
  content: url(../../images/art/gallery/gallery_013.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view14 {
  content: url(../../images/art/gallery/gallery_014.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view15 {
  content: url(../../images/art/gallery/gallery_015.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view16 {
  content: url(../../images/art/gallery/gallery_016.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view17 {
  content: url(../../images/art/gallery/gallery_017.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view18 {
  content: url(../../images/art/gallery/gallery_018.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view19 {
  content: url(../../images/art/gallery/gallery_019.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view20 {
  content: url(../../images/art/gallery/gallery_020.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view21 {
  content: url(../../images/art/gallery/gallery_021.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view22 {
  content: url(../../images/art/gallery/gallery_022.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view23 {
  content: url(../../images/art/gallery/gallery_023.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view24 {
  content: url(../../images/art/gallery/gallery_024.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view25 {
  content: url(../../images/art/gallery/gallery_025.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view26 {
  content: url(../../images/art/gallery/gallery_026.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view27 {
  content: url(../../images/art/gallery/gallery_027.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view28 {
  content: url(../../images/art/gallery/gallery_028.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view29 {
  content: url(../../images/art/gallery/gallery_029.png);
}

/* line 45, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-large-view30 {
  content: url(../../images/art/gallery/gallery_030.png);
}

/* line 54, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-illustration {
  background-image: url(../../images/jpg/foto_1.jpg);
  background-position: center;
  background-size: cover;
}

/* line 60, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-design {
  background-image: url(../../images/jpg/foto_2.jpg);
  background-position: center;
  background-size: cover;
}

/* line 66, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.img-coding {
  background-image: url(../../images/jpg/foto_3b.jpg);
  background-position: center;
  background-size: cover;
}

/* line 7, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1501;
}

/* line 17, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__logo {
  width: 50px;
  height: 50px;
  /*cursor: pointer;*/
}

/* line 21, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__logo a {
  width: 50px;
  height: 50px;
}

/* line 24, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__logo a img {
  width: 35px;
  height: 35px;
  margin: 6px 0 0 5px;
}

/* line 32, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.icon-path {
  fill: #ccc;
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 37, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__menu {
  display: block;
  height: 50px;
  margin-right: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 46, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__menu .myButtons {
  /*color:red;*/
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
}

/* line 56, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
a.nav__menu-button {
  display: none;
}

/* line 61, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.nav__menu-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

/* line 69, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.nav__menu-list a {
  margin: 0 10px;
  opacity: 0.7;
  transition: opacity 0.5s ease-out;
}

/* line 73, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.nav__menu-list a:hover {
  opacity: 1.0;
}

/* line 80, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.fondotemporal {
  background-color: #956890;
}

/* line 84, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 90, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.center-width {
  align-items: center;
}

/* line 94, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.center-txt {
  text-align: center;
}

/* line 98, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* line 104, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block {
  margin: 50px;
  max-width: 800px;
}

/* line 108, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block h2 a:hover {
  font-style: italic;
}

/* line 112, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block article {
  margin-bottom: 10px;
}

/* line 116, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block span a {
  color: #33cccc;
  font-style: italic;
}

/* line 119, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block span a:hover {
  border-bottom: 1px solid #33cccc;
}

/* line 126, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.bottom-space {
  margin-bottom: 20px;
}

/* line 130, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#header__banner {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../../images/bg/blue-mermaid.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #956890;
}

/* line 144, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt {
  /*color: red;*/
  display: flex;
  flex-direction: column;
  transform: translateY(-80px);
}

/* line 150, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt span {
  padding: 0 5px;
  margin: 10px 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  /*text-shadow: 2px 2px 5px rgb(6 3 5 / 50%);*/
  font-weight: 300;
  font-size: 46px;
  /*line-height: 25px;*/
}

/* line 161, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt object.marmuller-logo {
  fill: #ccc;
  transform: translateY(10px);
  margin-left: -5px;
  text-shadow: 2px 2px 5px rgba(6, 3, 5, 0.5);
}

/* line 167, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt object.marmuller-logo svg path {
  fill: #ccc;
}

/* line 172, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt ul {
  list-style-type: none;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 181, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt li {
  margin: 0 5px;
  padding: 3px 10px 4px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s ease-out;
  margin-bottom: 10px;
}

/* line 189, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 196, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.mid-banner {
  height: 500px;
  background-color: #956890;
}

/* line 202, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section {
  height: 500px;
  display: flex;
  align-items: center;
}

/* line 208, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section-2 {
  height: auto;
  display: flex;
  flex-direction: column;
}

/* line 214, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section-info {
  /*width: 60%;*/
  margin: 10vw;
  max-width: 800px;
}

/* line 220, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section-info--modifier {
  margin: 5vw 10vw 8vw 10vw;
  max-width: 800px;
}

/* line 225, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section-info-2 {
  /*width: 60%;*/
  margin: 50px;
  max-width: 800px;
}

/* line 231, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-icons {
  display: flex;
  justify-content: center;
}

/* line 235, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-icons img {
  width: 200px;
  height: 200px;
}

/* line 241, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.half-section {
  width: 50%;
  height: 500px;
}

/* SOBRE MÍ */
/* line 249, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__sobremi {
  margin: 30px 0;
}

/* line 252, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__sobremi h2 {
  margin-top: 40px;
}

/* line 256, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__sobremi span {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* line 263, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
a.my-button-download {
  padding: 5px 10px;
  color: #33cccc;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
  /*text-transform: uppercase;*/
  transition: 0.5s ease;
  border: 3px solid #33cccc;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s ease-out;
}

/* line 277, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
a.my-button-download:hover {
  opacity: 1.0;
}

/* MIS ESTIDIOS */
/* line 286, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.my-studies article {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

/* line 290, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.my-studies article div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* line 294, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.my-studies article div span {
  color: #a9a9a9;
}

/* line 297, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.my-studies article div span.date {
  font-size: 14px;
  margin: 8px 0;
}

/* line 300, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.my-studies article div span.date span {
  background-color: #622e40;
  border-radius: 3px;
  padding: 3px 6px;
  color: white;
}

/* line 307, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.my-studies article div span.place {
  display: block;
  color: white;
  font-weight: bold;
}

/* line 316, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.side-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 320, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.side-image img {
  width: 80%;
  max-width: 450px;
}

/* GALLERÍA */
/* line 329, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__gallery {
  /*padding: 90px 0 0 0;*/
}

/* line 333, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery {
  display: flex;
  flex-direction: column;
  /*padding-top: 25px;*/
}

/* line 338, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery h2 {
  color: #1a1a1a;
}

/* line 342, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery span {
  margin-bottom: 20px;
}

/* line 346, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery span a {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #8664a6;
  font-style: italic;
}

/* line 352, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery span a:hover {
  border-bottom: 2px solid #8664a6;
}

/* line 357, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery .images {
  width: 100%;
  /*margin-top: 25px;*/
  border-left: 0.5px solid #dee2e6;
  border-right: 0.5px solid #dee2e6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 368, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.auto-height {
  height: auto !important;
}

/* line 372, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.picture {
  cursor: pointer;
  width: 20%;
  height: 20vw;
  border: 0.5px solid #dee2e6;
  background-color: #956890;
  /*background-image:url('../../images/art/art-06.png');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(60%);
  opacity: 0.9;
  transition-property: filter, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/* line 389, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.picture:hover {
  filter: grayscale(10%);
  opacity: 1.0;
}

/* line 395, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-dialog {
  max-width: fit-content;
  margin: 4rem auto;
}

/* line 400, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-header {
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
}

/* line 404, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-title.h5, h5 {
  font-size: 1rem;
}

/* line 408, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.picture-large {
  padding: 0;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

/* line 417, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.picture-large img {
  height: auto;
  max-height: 80vh;
  max-width: 100vw;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

/* line 427, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__videos iframe {
  width: 80vw;
  max-width: 800px;
  height: 50vh;
}

/* ALGUNOS ESTILOS GENERALES */
/* line 437, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.heightAuto {
  height: 100%;
}

/* line 441, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.padding50 {
  padding: 50px 0;
}

/* line 445, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.fixed {
  position: fixed;
}

/* line 449, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.whitebg {
  background-color: #f2f2f2;
  color: #1a1a1a;
}

/* line 454, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.order {
  flex-direction: row;
}

/*TABLE*/
/* line 462, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.pricesheet table {
  border-radius: 8px;
  padding: 8px;
  margin-top: 20px;
  background-color: #1e1e1e;
}

/* line 469, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.pricesheet td, .pricesheet th {
  padding: 8px;
  text-align: center;
}

/* FONDOS IMG */
/* line 478, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.imgfixed {
  background-attachment: fixed;
}

/* line 482, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.imgcentrado {
  background-position: center;
}

/* line 486, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.icontemporal {
  background-image: url(../../images/icons/icon_temporal.png);
  background-position: center;
  background-size: cover;
}

/* FORM */
/* line 495, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.no-margin {
  margin: 0;
}

/* line 499, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.max-width-form {
  width: 100%;
  max-width: 600px;
}

/* line 504, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__contacto {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 509, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* line 514, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form * {
  margin-bottom: 5px;
}

/* line 518, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form label {
  margin-top: 10px;
}

/* line 522, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form input, form textarea {
  width: calc(100% - 24px);
  padding: 12px;
  margin: 0;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 14px;
}

/* line 531, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form input {
  width: 100%;
  height: 30px;
}

/* line 535, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form input.myFormStyle:focus {
  color: #4d2e6b;
  font-weight: bold;
  outline: 0;
  border: 0;
  -webkit-box-shadow: inset 0px 0px 0px 2px #33cccc;
  -moz-box-shadow: inset 0px 0px 0px 2px #33cccc;
  box-shadow: inset 0px 0px 0px 2px #33cccc;
}

/* line 548, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form textarea.myFormStyle {
  resize: none;
  width: 100%;
  height: 200px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* line 556, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form textarea.myFormStyle:focus {
  color: #4d2e6b;
  font-weight: bold;
  outline: 0;
  border: 0;
  -webkit-box-shadow: inset 0px 0px 0px 2px #33cccc;
  -moz-box-shadow: inset 0px 0px 0px 2px #33cccc;
  box-shadow: inset 0px 0px 0px 2px #33cccc;
}

/* line 569, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form button.myButton {
  width: 100%;
  height: 40px;
  /*font-size: 14px;*/
  border: 3px solid #33cccc;
  border-radius: 6px;
  background-color: #33cccc;
  color: white;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.5s ease-out;
}

/* line 582, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form button.myButton:hover {
  border: 3px solid #33cccc;
  border-radius: 6px;
  background-color: #33cccc;
  color: white;
  opacity: 1.0;
}

/* FOOTER */
/* line 597, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
footer {
  font-size: 14px;
  text-align: center;
  margin: 80px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 606, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
footer * {
  margin: 5px 0;
}

/* line 610, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
footer .marmuller-logo {
  width: 120px;
  height: 25px;
}

/* line 615, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
footer div.redes * {
  margin: 0 2px;
}

@media only screen and (max-width: 768px) {
  /* line 623, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .header__banner-txt {
    transform: translateY(-50px);
  }
  /* line 626, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .header__banner-txt h1 {
    line-height: 40px;
    margin-bottom: 25px;
  }
  /* line 632, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  #header__banner {
    background-image: url("../../images/bg/blue-mermaid-sm.png");
  }
  /* line 639, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  a.nav__menu-button {
    display: block;
  }
  /* line 644, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .nav__menu-list {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    transform: translateY(50px);
    left: 0;
    top: 0;
    padding: 10px 0;
    display: none;
  }
  /* line 656, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .nav__menu-list a {
    padding: 10px 0;
  }
  /* line 663, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .half-section {
    width: 100%;
  }
  /* line 669, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .picture {
    width: 50%;
    height: 50vw;
  }
  /* line 674, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .section {
    height: auto;
    flex-direction: column;
  }
  /* line 679, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .order {
    flex-direction: column-reverse;
  }
  /* line 683, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .img-icons {
    margin-bottom: 20px;
  }
  /* line 686, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .img-icons img {
    width: 60vw;
    height: 60vw;
  }
  /* line 692, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .space-between {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* line 698, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .max-width-form {
    padding: 0 25px;
  }
}

/*# sourceMappingURL=style.css.map */