@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i|Roboto:300,400,400i");
/* COLOR PALETTES */
/* FONTS */
/* line 1, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
body {
  background-color: #131313;
  color: #ccc;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #131313;
}

/* line 15, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  margin: 10px 0;
}

/* line 21, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
a {
  color: inherit;
  /* no blue */
  text-decoration: inherit;
  /* no underline */
  cursor: pointer;
}

/* line 26, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 32, ../../../../GitHub/portfolio-muller/styles/scss/_default.scss */
div {
  /*border: 1px solid black;*/
}

/* line 1, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.heightAuto {
  height: auto;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height100 {
  height: 100px;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height200 {
  height: 200px;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height300 {
  height: 300px;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height400 {
  height: 400px;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.height500 {
  height: 500px;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width10 {
  width: 10%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width20 {
  width: 20%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width30 {
  width: 30%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width40 {
  width: 40%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width50 {
  width: 50%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width60 {
  width: 60%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width70 {
  width: 70%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width80 {
  width: 80%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width90 {
  width: 90%;
}

/* line 12, ../../../../GitHub/portfolio-muller/styles/scss/_sizes.scss */
.width100 {
  width: 100%;
}

/* line 1, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgejemplo {
  background-image: url(../../images/bg/poisoned-2.png);
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgejemplo2 {
  background-image: url(../../images/art/art-01.png);
  background-position: center;
  background-size: cover;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgejemplo3 {
  background-image: url(../../images/art/art-02.png);
  background-position: center;
  background-size: cover;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgejemplo4 {
  background-image: url(../../images/art/art-03.png);
  background-position: center;
  background-size: cover;
}

/* line 6, ../../../../GitHub/portfolio-muller/styles/scss/_bgimage.scss */
.imgejemplo5 {
  background-image: url(../../images/art/art-04.png);
  background-position: center;
  background-size: cover;
}

/* line 7, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1501;
}

/* line 17, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__logo {
  width: 50px;
  height: 50px;
  /*cursor: pointer;*/
}

/* line 21, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__logo a {
  width: 50px;
  height: 50px;
}

/* line 24, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__logo a img {
  width: 35px;
  height: 35px;
  margin: 6px 0 0 5px;
}

/* line 32, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.icon-path {
  fill: #ccc;
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 37, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__menu {
  display: block;
  height: 50px;
  margin-right: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 46, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#nav__menu .myButtons {
  /*color:red;*/
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
}

/* line 56, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
a.nav__menu-button {
  display: none;
}

/* line 61, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.nav__menu-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

/* line 69, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.nav__menu-list a {
  margin: 0 10px;
  opacity: 0.7;
  transition: opacity 0.5s ease-out;
}

/* line 73, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.nav__menu-list a:hover {
  opacity: 1.0;
}

/* line 80, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.fondotemporal {
  background-color: #956890;
}

/* line 84, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 90, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.center-width {
  align-items: center;
}

/* line 94, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.center-txt {
  text-align: center;
}

/* line 98, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* line 104, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block {
  margin: 50px;
  max-width: 800px;
}

/* line 108, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block h2 a:hover {
  font-style: italic;
}

/* line 112, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block article {
  margin-bottom: 10px;
}

/* line 116, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block span a {
  color: #33cccc;
  font-style: italic;
}

/* line 119, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.text-block span a:hover {
  border-bottom: 1px solid #33cccc;
}

/* line 126, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.bottom-space {
  margin-bottom: 20px;
}

/* line 130, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#header__banner {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../../images/bg/blue-mermaid.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #956890;
}

/* line 142, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt {
  /*color: red;*/
  display: flex;
  flex-direction: column;
  transform: translateY(-80px);
}

/* line 148, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt span {
  padding: 0 5px;
  margin: 10px 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  /*text-shadow: 2px 2px 5px rgb(6 3 5 / 50%);*/
  font-weight: 300;
  font-size: 46px;
  /*line-height: 25px;*/
}

/* line 159, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt object.marmuller-logo {
  fill: #ccc;
  transform: translateY(10px);
  margin-left: -5px;
  text-shadow: 2px 2px 5px rgba(6, 3, 5, 0.5);
}

/* line 165, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt object.marmuller-logo svg path {
  fill: #ccc;
}

/* line 170, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt ul {
  list-style-type: none;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 179, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt li {
  margin: 0 5px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s ease-out;
}

/* line 186, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.header__banner-txt li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 192, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.mid-banner {
  height: 500px;
  background-color: #956890;
}

/* line 198, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section {
  height: 500px;
  display: flex;
  align-items: center;
}

/* line 204, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section-2 {
  height: auto;
  display: flex;
  flex-direction: column;
}

/* line 210, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section-info {
  /*width: 60%;*/
  margin: 10vw;
  max-width: 800px;
}

/* line 216, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section-info--modifier {
  margin: 5vw 10vw 8vw 10vw;
  max-width: 800px;
}

/* line 221, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.section-info-2 {
  /*width: 60%;*/
  margin: 50px;
  max-width: 800px;
}

/* line 227, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-icons {
  display: flex;
  justify-content: center;
}

/* line 231, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-icons img {
  width: 200px;
  height: 200px;
  background-color: #956890;
}

/* line 238, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.half-section {
  width: 50%;
  height: 500px;
}

/* SOBRE MÍ */
/* line 246, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__sobremi {
  margin: 30px 0;
}

/* line 249, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__sobremi h2 {
  margin-top: 40px;
}

/* line 253, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__sobremi span {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* line 260, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
a.my-button-download {
  padding: 5px 10px;
  color: #33cccc;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
  /*text-transform: uppercase;*/
  transition: 0.5s ease;
  border: 3px solid #33cccc;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s ease-out;
}

/* line 274, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
a.my-button-download:hover {
  opacity: 1.0;
}

/* GALLERÍA */
/* line 281, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__gallery {
  /*padding: 90px 0 0 0;*/
}

/* line 285, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery {
  display: flex;
  flex-direction: column;
  /*padding-top: 25px;*/
}

/* line 290, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery h2 {
  color: #1a1a1a;
}

/* line 294, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery span {
  margin-bottom: 20px;
}

/* line 298, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery span a {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #8664a6;
  font-style: italic;
}

/* line 304, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery span a:hover {
  border-bottom: 2px solid #8664a6;
}

/* line 309, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.gallery .images {
  width: 100%;
  /*margin-top: 25px;*/
  border-left: 0.5px solid #dee2e6;
  border-right: 0.5px solid #dee2e6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 320, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.auto-height {
  height: auto !important;
}

/* line 324, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.picture {
  cursor: pointer;
  width: 20%;
  height: 20vw;
  border: 0.5px solid #dee2e6;
  background-color: #956890;
  /*border: 1px solid #131313;*/
  background-image: url("../../images/art/art-06.png");
  background-size: 100% auto;
  background-position: center;
  filter: grayscale(60%);
  opacity: 0.9;
  transition-property: filter, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/* line 341, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.picture:hover {
  filter: grayscale(10%);
  opacity: 1.0;
}

/* line 347, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-dialog {
  max-width: fit-content;
  margin: 4rem auto;
}

/* line 352, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-header {
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
}

/* line 356, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.img-title.h5, h5 {
  font-size: 1rem;
}

/* line 360, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.picture-large {
  /*height: 80vh;*/
  padding: 0;
  /*background-color: #956890;*/
  /*background-image:url('../../images/art/art-06.png');*/
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

/* line 372, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.picture-large img {
  height: auto;
  max-height: 80vh;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

/* line 381, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__videos iframe {
  width: 80vw;
  max-width: 800px;
  height: 50vh;
}

/* ALGUNOS ESTILOS GENERALES */
/* line 392, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.padding50 {
  padding: 50px 0;
}

/* line 396, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.fixed {
  position: fixed;
}

/* line 400, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.whitebg {
  background-color: #f2f2f2;
  color: #1a1a1a;
}

/* line 405, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.order {
  flex-direction: row;
}

/*TABLE*/
/* line 413, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.pricesheet table {
  border-radius: 8px;
  padding: 8px;
  margin-top: 20px;
  background-color: #1e1e1e;
}

/* line 420, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.pricesheet td, .pricesheet th {
  padding: 8px;
  text-align: center;
}

/* FONDOS IMG */
/* line 429, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.imgfixed {
  background-attachment: fixed;
}

/* line 433, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.imgcentrado {
  background-position: center;
}

/* line 437, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.icontemporal {
  background-image: url(../../images/icons/icon_temporal.png);
  background-position: center;
  background-size: cover;
}

/* FORM */
/* line 446, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
.max-width-form {
  max-width: 500px;
}

/* line 450, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
#block__contacto {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 455, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* line 460, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form * {
  margin-bottom: 5px;
}

/* line 464, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form label {
  margin-top: 10px;
}

/* line 468, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form input, form textarea {
  width: calc(100% - 24px);
  padding: 12px;
  margin: 0;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 14px;
}

/* line 477, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form input {
  width: 100%;
  height: 30px;
}

/* line 481, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form input.myFormStyle:focus {
  color: #4d2e6b;
  font-weight: bold;
  outline: 0;
  border: 0;
  -webkit-box-shadow: inset 0px 0px 0px 2px #33cccc;
  -moz-box-shadow: inset 0px 0px 0px 2px #33cccc;
  box-shadow: inset 0px 0px 0px 2px #33cccc;
}

/* line 494, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form textarea.myFormStyle {
  resize: none;
  width: 100%;
  height: 200px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* line 502, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form textarea.myFormStyle:focus {
  color: #4d2e6b;
  font-weight: bold;
  outline: 0;
  border: 0;
  -webkit-box-shadow: inset 0px 0px 0px 2px #33cccc;
  -moz-box-shadow: inset 0px 0px 0px 2px #33cccc;
  box-shadow: inset 0px 0px 0px 2px #33cccc;
}

/* line 515, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form button.myButton {
  width: 100%;
  height: 40px;
  /*font-size: 14px;*/
  border: 3px solid #33cccc;
  border-radius: 6px;
  background-color: #33cccc;
  color: white;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.5s ease-out;
}

/* line 528, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
form button.myButton:hover {
  border: 3px solid #33cccc;
  border-radius: 6px;
  background-color: #33cccc;
  color: white;
  opacity: 1.0;
}

/* FOOTER */
/* line 543, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
footer {
  font-size: 14px;
  text-align: center;
  margin: 80px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 552, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
footer * {
  margin: 5px 0;
}

/* line 556, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
footer .marmuller-logo {
  width: 120px;
  height: 25px;
}

/* line 561, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
footer div.redes * {
  margin: 0 2px;
}

@media only screen and (max-width: 768px) {
  /* line 569, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .header__banner-txt {
    transform: translateY(-50px);
  }
  /* line 572, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .header__banner-txt h1 {
    line-height: 40px;
    margin-bottom: 25px;
  }
  /* line 581, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  a.nav__menu-button {
    display: block;
  }
  /* line 586, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .nav__menu-list {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    transform: translateY(50px);
    left: 0;
    top: 0;
    padding: 10px 0;
    display: none;
  }
  /* line 598, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .nav__menu-list a {
    padding: 10px 0;
  }
  /* line 605, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .header__banner-txt li {
    margin-bottom: 10px;
  }
  /* line 609, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .half-section {
    width: 100%;
    height: 500px;
  }
  /* line 616, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .picture {
    width: 50%;
    height: 50vw;
  }
  /* line 621, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .section {
    height: auto;
    flex-direction: column;
  }
  /* line 626, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .order {
    flex-direction: column-reverse;
  }
  /* line 630, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .img-icons {
    margin-bottom: 20px;
  }
  /* line 633, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .img-icons img {
    width: 60vw;
    height: 60vw;
  }
  /*
  .img-icons {
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-color: green;
    margin-bottom: 50px;
  }
  */
  /* line 649, ../../../../GitHub/portfolio-muller/styles/scss/style.scss */
  .space-between {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */