.img-banner {
    background-image: url(../../images/bg/blue-mermaid.png);
    background-position: center;
    background-size: cover;
}

.imgejemplo {
    background-image: url(../../images/bg/poisoned.png);
    background-position: center;
    background-size: cover;
}


//Imagenes en chicas para galerias
@for $i from 1 through 30 {
  .imgArt#{$i} {
    @if $i <= 9 {
      background-image: url(../../images/art/preview/gallery_00#{$i}.png);
    } @else {
      background-image: url(../../images/art/preview/gallery_0#{$i}.png);
    }
  }
}
@for $i from 1 through 30 {
  .imgDesign#{$i} {
    @if $i <= 9 {
      background-image: url(../../images/design/preview/gallery_00#{$i}.png);
    } @else {
      background-image: url(../../images/design/preview/gallery_0#{$i}.png);
    }
  }
}
@for $i from 1 through 30 {
  .imgCoding#{$i} {
    @if $i <= 9 {
      background-image: url(../../images/coding/preview/gallery_00#{$i}.png);
    } @else {
      background-image: url(../../images/coding/preview/gallery_0#{$i}.png);
    }
  }
}

//Imagenes en grande para galerias
@for $i from 1 through 30 {
  .art-large-view#{$i} {
    @if $i <= 9 {
      content:url(../../images/art/gallery/gallery_00#{$i}.png);
    } @else {
      content:url(../../images/art/gallery/gallery_0#{$i}.png);
    }
  }
}
@for $i from 1 through 30 {
  .design-large-view#{$i} {
    @if $i <= 9 {
      content:url(../../images/design/gallery/gallery_00#{$i}.png);
    } @else {
      content:url(../../images/design/gallery/gallery_0#{$i}.png);
    }
  }
}
@for $i from 1 through 30 {
  .coding-large-view#{$i} {
    @if $i <= 9 {
      content:url(../../images/coding/gallery/gallery_00#{$i}.png);
    } @else {
      content:url(../../images/coding/gallery/gallery_0#{$i}.png);
    }
  }
}


//Banner cada Seccion
.img-illustration {
    background-image: url(../../images/jpg/foto_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-design {
    background-image: url(../../images/jpg/foto_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-coding {
    background-image: url(../../images/jpg/foto_3b.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
