* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131313;
  color: #ccc;
  font-family: $defaultFont;
  font-size: 16px;
  background-color: $darkBG;
}

h2 {
  font-family: $titlesFont;
  font-size: 2em;
  margin: 10px 0;
}

a {
  color: inherit; /* no blue */
  text-decoration: inherit; /* no underline */
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

div {
  /*border: 1px solid black;*/
}
