/* COLOR PALETTES */

$mainBlue: #33cccc;
$darkPink: #622e40;
$lightGrey: #666666;
$darkGrey: #a9a9a9;

$lightBG: #f2f2f2;
$darkBG: #131313;

$lightFont: #ccc;
$darkFont: #1a1a1a;


/* FONTS */

$defaultFont: 'Open Sans', sans-serif;
$titlesFont: 'Roboto', sans-serif;
