/* COLOR PALETTES */

$mainBlue: #33cccc;

$lightBG: #f2f2f2;
$darkBG: #131313;

$lightFont: #ccc;
$darkFont: #1a1a1a;


/* FONTS */

$defaultFont: 'Open Sans', sans-serif;
$titlesFont: 'Roboto', sans-serif;
